.App {
  text-align: center;
  background-image: url('https://i.pinimg.com/736x/25/d5/38/25d53826083c459d349bf2aa56f474a3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 1000px;
  margin: 0;
  padding: 0;

}

